<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Turwaq</title>
</head>
<body>
	<header id="header">
		<h1>Turwaq</h1>
	</header>
	

	<div class="container">
		<h1>Pug page</h1>
		<h2>Server is running...</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero eligendi vero voluptate similique ratione dolorum, voluptas nostrum placeat officia quisquam fugit. Ipsam iste sunt fuga cum esse neque beatae laboriosam sit architecto velit vitae distinctio eaque deleniti, hic quaerat voluptatem dolore, rem obcaecati facilis veniam iure aliquid accusamus! At, tempore!</p>
	</div>
</body>
</html>