.header{
	width: 100px;
	height:100px;
	display: flex;
	background-color: #433;
	color:#fff;
}

.main{
	color:#444;
}


.welcome {
	color: #444;
}


ul{
	position:relative;


	li{
	display: inline-block;
	}
}